.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
}

.navbar-title{
    font-size: 1.5em;
    font-weight: bold;
}
.navbar-menu{
    display: flex;
    gap:15px
}

.navbar-menu button {
    margin: 0 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-menu .selected {
    font-weight: bold;
    text-decoration: underline;
}

.login {
    cursor: pointer;
}