.weather-section {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 1px solid #fff;
    background-color: aqua;
}

.weather-section h2{
    margin-bottom: 10px;
}

.weather-section ul {
    list-style-type: none;
    padding: 0;
}