.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #282c34;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.weather-sections {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.weekly-forecast {
  margin: 20px 0;

}

.activity-suggestions{
  margin-top: 20px
}

